<div class="py-1 bg-primary">
    <div class="container">
        <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
            <div class="col-lg-12 d-block">
                <div class="row d-flex">
                    <div class="col-md pr-4 d-flex topper align-items-center">
                        <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                            <span class="text">123456789</span>
                                </div>
                                    <div class="col-md pr-4 d-flex topper align-items-center">
                                    <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                                        <span class="text">hoanglong4322@gmail.com</span>
                                  </div>
                        <div class="col-md align-items-center text-lg-right">
                            {% if not user_name %}
                                <div class="form__login">
                                    <ul class="form__login-main">
                                        <li class="form__login-item">
                                            <a class="form__login-control form__login-control--separate" href="/login/">Đăng nhập</a>
                                        </li>
                                    </ul>
                                    <ul class="form__login-main">
                                        <li class="form__login-item">
                                            <a class="form__login-control" href="/register/">Đăng ký</a>
                                        </li>
                                    </ul>
                                </div>
                            {% else %}
                            <div class="form__setting">
                                <li class="form__login--setting">
                                    <img src="#" alt="" class="form__login--image">
                                    <span class="form__login--name">{{ user_name }}</span>
                                    <ul class="form__login--menu">
                                        <li class="form__login--item">
                                            <a href="/information/">Tài khoản</a>
                                        </li>
                                        <li class="form__login--item">
                                           <a href="/views_order/">Đơn mua</a>
                                        </li>
                                        <li class="form__login--item">
                                           <a href="/logout/">Đăng xuất</a>
                                        </li>   
                                    </ul>
                                </li>
                            </div>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">Vegefoods</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="/" class="nav-link">Trang chủ</a></li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle setting" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="/product">Shop</a>
               {% if user_id %}
              <a class="dropdown-item" href="/detailcart/{{user_id}}">Giỏ hàng</a>
            {% endif %}
            <a class="dropdown-item" href="/detailcheckout">Thủ tục thanh toán</a>
          </div>
        </li>
          <li class="nav-item"><a href="/about/" class="nav-link">Giới thiệu</a></li>
          <li class="nav-item"><a href="/blog/" class="nav-link">Tin tức</a></li>
          <li class="nav-item"><a href="/contact/" class="nav-link">Liên hệ</a></li>
            {% if user_id %}
                <li class="nav-item cta cta-colored"><a href="/detailcart/{{user_id}}" class="nav-link"><span class="icon-shopping_cart"></span>[<span id="cart_number">{{count}}</span>]</a></li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>